body {
  background-image: url("images/ladrillo.jpg");
  top: 30%;
  left: 30%;
  min-width: 100%;
  min-height: 100%;
  font-family: 'Roboto', serif;
  font-size: 20px;
}

img {
  display: block;
  margin: 0 auto;
}
h2 {
  text-align: center;
  color:#999999
}
