.content{
  background-color: $background-color;
  border-radius: 4px;
  font-size: 0.9em;
  height: auto;
  letter-spacing: 0.7px;
  line-height: 2em;
  margin-top: 6%;
  margin-bottom: 15%;
  margin-left: auto;
  margin-right:auto;
  padding: 20px 20px 33px 20px;
  text-align: justify;
  width: 95%;
  word-spacing: 5px;
}

.hr-top{
  border: 2px solid $hr-border-color;
  border-radius: $hr-border-radius ;
  width: 100%;
  margin-top: 10%;
}

.hr-bottom{
  border: 2px solid $hr-border-color;
  border-radius: $hr-border-radius ;
  width: 100%;
  margin-bottom: 15%;
}

strong{
  color: $secondary-color;
}

.experience li{
  list-style: none;
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	transition:0.4s linear;
	transition-property: width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	font-weight:bold;
	font-size:13px;
	color:#fff;
	background:#6adcfa;
	border-top-left-radius:3px;
	border-bottom-left-radius:4px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#444;
	color:rgba(0, 0, 0, 0.4);
}

.up-page {
  width: 40px;
  position: fixed;
  display: none;
  bottom: 132px;
  right: 10px;
  cursor: pointer;
  z-index: 98;
}
@media (min-width: $size-media-query-tablet) {
.content{
  border-radius: 0;
  width: 100%;
  margin-top: 15%;
}

.hr-top{
  width: 60%;
  margin-top: 4%;
}

.hr-bottom{
  width: 60%;
  margin-bottom: 4%;
}

.c-tecnicos{
  display: flex;
  justify-content: space-between;
}
.aboutme .hr-bottom{
    margin-bottom: 7%;
}
.skills .hr-bottom{
  margin-bottom: 7%;
}

.experience .hr-bottom{
  margin-bottom: 7%;
}

.up-page {
    width: 45px;
    bottom: 20%;
  }
}

@media (min-width: $size-media-query-desktop) {
.content{
  margin-top: 12%;
}

.aboutme-div{
  width: 65%;
  margin-left: 19%;
}

.c-tecnicos{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.skillbar {
  margin-bottom: 25px;
}

.skillbar-div{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.projects .hr-bottom{
  margin-bottom: 4%;
}

.up-page {
    width: 50px;
    bottom: 25%;
  }
}
