.btncolor-div{
  background-color: $primary-color;
  border-radius: 5px;
  height: 44px;
  width: 65px;
  margin-left: 78%;
  margin-top: 7%;
  position: absolute;
}

.burguerBtn {
  width: 30px;
  height: 29px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  margin-left: 21px;
}

.burguerBtn span{
  display: block;
  position: absolute;
  height: 3px;
  width: 80%;
  background-color: $background-color;
  border-radius: 1.3px;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burguerBtn span:nth-child(1){
  top: 12px;
}

.burguerBtn span:nth-child(2){
  top: 21px;
}

.burguerBtn span:nth-child(3){
  bottom: -4px;
}

.burguerBtn.open span:nth-child(1){
  top: 63%;
  transform: rotate(135deg);
}

.burguerBtn.open span:nth-child(2){
  opacity: 0;
  left: -60px;
}

.burguerBtn.open span:nth-child(3){
  bottom: 23%;
  transform: rotate(-135deg);
}

@media (min-width: $size-media-query-tablet) {
  .btncolor-div{
    display: none;
}
}
