.container-img{
  width: 82%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13%;
  margin-bottom: 10%;
}

.image{
  border-radius: 50%;
  width: 80vw;
  height: 80vw;
}

.arrow{
  width: 22px;
  margin-top: 2%;
}

.container-project {
  width: 100%;
  height: auto;
  margin: 10px auto;
  padding-bottom: 10%;
  padding-top: 2%;
}

.div-img-project {
  display: block;
}

.div-img-project .img-project {
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

@media (min-width: $size-media-query-tablet) {
.all-project-images{
  display: flex;
  flex-direction: column;
}

.container-project {
  width: 100%;
  height: auto;
  padding-bottom: 3%;
}

.container-img{
  width: 70%;
  margin-left: 5%;
  margin-top: 24%;
  padding-bottom: 20%;
}

.div-img-project .img-project {
  transform: translate(0px, 0px) scale(1);
  transition: all 0s ease 0s;
  transition: all 500ms ease-in-out;
}

.div-img-project:hover .img-project {
  transform: translate(-50px, -50px) scale(0.5);
}

.image{
  width: 45vw;
  height: 45vw;
}

.div-img-project{
  width: 75%;
  margin: 0 auto;
}

.div-img-project{
  padding: 3%;
}
}

@media (min-width: $size-media-query-desktop) {
.container-img{
  margin-top: 20%;
}

.image{
  width: 32vw;
  height: 32vw;
  margin-top: -7%;
  margin-left: 8%;
}

.container-project {
  width: 100%;
  margin: 0;
}

.div-img-project{
  margin-bottom: 7%;
  padding: 1%;
}
}
