.container-img{
width: 100%;
}
.image{
border-radius: 600px;
width: 90vw;
height: 90vw;
margin-left: 5%;
position: relative;
}
.img-project{
border-radius: 300px;
width: 70%;
height: 35vh;
margin-left: 15%;
}
@media (min-width: 768px) {
.image{
width: 70vw;
height: 70vw;
margin-left: 15%;
}

}
