.nav{
  width: 100%;
}
.nav-mobile{
  display: none;
}
.listShow{
  display: block;
  // position: fixed;
  position: absolute;
  right: 0px;
  background-color: rgba(148, 193, 180, 0.9);
  z-index: 5;
  color: $background-color;
  width: 100%;
  animation: fall-down 1s;
  top: 12.5%;
  font-size: 1.2em;
  padding: 10px;
}
@keyframes fall-down {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}
.nav li {
  border-bottom: 2px solid rgba(255, 244, 244, 0.8);
  padding: 10px;
}
.nav li:last-child {
    border-bottom: none;
}
.nav li a{
  text-decoration: none;
  color:$background-color;
}
.nav-desktop{
  align-items: center;
  display: none;
}

@media (min-width: $size-media-query-tablet) {
.nav-desktop{
  background-color: rgba(81, 137, 127, 0.6);
  color: white;
  display: flex;
  justify-content: space-around;
  margin-top: -15%;
  position: absolute;
  width: 100%;
  height: 10vh;
  z-index: 101;
  padding: 0;
}
.nav li {
  border-bottom: none;
  list-style: none;
}
.nav li a:hover {
  color:  rgb(181, 224, 216);
}
}
@media (min-width: $size-media-query-desktop) {
.nav-desktop{
  height: 11vh;
}
.nav li a{
  font-weight: bold;
  font-size: 1.2em;
}
}
