.nav{
  width: 100%;
}
.nav-mobile{
  display: none;
}
.listShow{
  display: block;
  position: fixed;
  right: 0px;
  background-color: rgba(148, 193, 180, 0.9);
  z-index: 5;
  color: $background-color;
  width: 100%;
  animation: fall-down 1s;
  top: 11.5%;
  font-size: 1.2em;
  padding: 10px;
}
@keyframes fall-down {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}
.nav li {
  border-bottom: 2px solid rgba(255, 244, 244, 0.8);
  padding: 10px;
}
.nav li:last-child {
    border-bottom: none;
}
.nav li a{
  text-decoration: none;
  color:$background-color;
}
.nav-desktop{
  align-items: center;
  display: none;
}
