*{
box-sizing: border-box;
}

html,
body{
background: url(../images/foto6.jpeg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
width: 100%;
height: auto;
margin: 0;
padding: 0;
}
