$background-color: rgb(252, 251, 247);
$primary-color: rgb(81,137,127);
$secondary-color: rgb(238,130,129);
$hr-border-color: rgb(154, 187, 170);
$hr-border-radius: 300px;
$size-media-query-tablet: 768px;
$size-media-query-desktop: 1024px;
