.title-photo{
  color: $secondary-color;
  font-size: 5.9vw;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 74vw;
  right: 0;
}
.title{
  color: $secondary-color;
  font-size: 1.6em;
  width: 100%;
  text-align: center;
  margin: 0;
}

.contact-title{
  color: $background-color;
  font-size: 1.6em;
  padding-top: 5%;
}
.contact li{
  font-size: 1em;
  list-style: none;
}


@media (min-width: $size-media-query-tablet) {
.title-photo {
  font-size: 4.1vw;
  top: 50vw;
  padding-left: 55px;
}
}
