.title-photo {
  color: #ee8281;
  font-weight: bold;
  font-size: 5.9vw;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 92vw;
  right: 0;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%); }

.title {
  color: #ee8281;
  font-size: 1.6em;
  width: 100%;
  text-align: center;
  margin: 0; }

.project-title {
  margin-left: 60%;
  margin-top: -44%;
  margin-bottom: 13%;
  text-align: center; }

.project-title3 {
  margin-left: 60%;
  margin-top: -44%;
  text-align: center; }

.contact li {
  font-size: 1em;
  list-style: none;
  font-weight: bold;
  padding-bottom: 10px; }

@media (min-width: 768px) {
  .title-photo {
    font-size: 4.1vw;
    top: 62vw;
    right: 15%; }

  .project-title {
    margin-top: -33%; }

  .project-title3 {
    margin-top: -33%; } }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  background: url(../images/pexelss.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0; }

.btncolor-div {
  background-color: #51897f;
  border-radius: 5px;
  height: 7vh;
  width: 65px;
  margin-left: 78%;
  margin-top: 7%; }

.burguerBtn {
  width: 30px;
  height: 29px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  margin-left: 21px; }

.burguerBtn span {
  display: block;
  position: absolute;
  height: 3px;
  width: 80%;
  background-color: #fcfbf7;
  border-radius: 1.3px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

.burguerBtn span:nth-child(1) {
  top: 12px; }

.burguerBtn span:nth-child(2) {
  top: 21px; }

.burguerBtn span:nth-child(3) {
  bottom: -4px; }

.burguerBtn.open span:nth-child(1) {
  top: 63%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg); }

.burguerBtn.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

.burguerBtn.open span:nth-child(3) {
  bottom: 23%;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg); }

@media (min-width: 768px) {
  .btncolor-div {
    display: none; } }
.container-img {
  width: 82%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13%;
  margin-bottom: 10%; }

.image {
  border-radius: 50%;
  width: 80vw;
  height: 80vw; }

.transition {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out; }

.arrow {
  width: 15px;
  margin-left: 30px; }

.container-project {
  width: 350px;
  height: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 20px; }

.div-img-project {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.div-img-project .img-project {
  border-radius: 6px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  -webkit-transform: translate(0px, 0px) scale(1);
          transform: translate(0px, 0px) scale(1);
  -webkit-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out; }

.div-img-project .text-project {
  display: block;
  height: 50%;
  right: 0;
  margin-left: 11%;
  width: 80%;
  letter-spacing: 0.5px; }

.div-img-project:hover .img-project {
  -webkit-transform: translate(-50px, -50px) scale(0.5);
          transform: translate(-50px, -50px) scale(0.5); }

@media (min-width: 768px) {
  .all-project-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .container-project {
    width: 100%;
    height: auto; }

  .container-img {
    width: 70%;
    margin-left: 5%;
    margin-top: 20%;
    padding-bottom: 20%; }

  .image {
    width: 60vw;
    height: 60vw; }

  .div-img-project .text-project {
    width: 75%;
    margin-left: 19%; }

  .div-img-project {
    margin-bottom: 30%; }

  .text-project3 {
    margin-left: 19%;
    margin-top: 14%; } }
.nav {
  width: 100%; }

.nav-mobile {
  display: none; }

.listShow {
  display: block;
  position: absolute;
  right: 0px;
  background-color: rgba(148, 193, 180, 0.9);
  z-index: 5;
  color: #fcfbf7;
  width: 100%;
  -webkit-animation: fall-down 1s;
          animation: fall-down 1s;
  top: 12.5%;
  font-size: 1.2em;
  padding: 10px; }

@-webkit-keyframes fall-down {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes fall-down {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
.nav li {
  border-bottom: 2px solid rgba(255, 244, 244, 0.8);
  padding: 10px; }

.nav li:last-child {
  border-bottom: none; }

.nav li a {
  text-decoration: none;
  color: #fcfbf7; }

.nav-desktop {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none; }

@media (min-width: 768px) {
  .nav-desktop {
    background-color: rgba(81, 137, 127, 0.6);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: -15%;
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 101; }

  .nav li {
    border-bottom: none;
    list-style: none; }

  .nav li a:hover {
    color: #b5e0d8; } }
.first-background {
  background-color: #51897f;
  width: 100%;
  height: 3vh; }

.social-icon-div-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0; }

.social-icon-header {
  width: 45px;
  padding: 10px; }

@media (min-width: 768px) {
  .first-background {
    display: none; }

  .social-icon-div-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 125%;
    margin-top: -56%; } }
.contact {
  background-color: #51897f;
  color: #fcfbf7;
  width: 100%;
  height: 100%;
  max-height: 300px;
  margin-top: 15%;
  text-align: center; }

.contact ul {
  padding: 0; }

.social-icon {
  width: 42px;
  padding: 10px; }

.social-icon-div {
  width: 100%;
  padding-top: 25px; }

.contact p {
  display: inline; }

.content {
  background-color: #fcfbf7;
  border-radius: 4px;
  font-size: 0.9em;
  height: auto;
  letter-spacing: 1px;
  line-height: 2em;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 33px 20px;
  text-align: justify;
  width: 95%; }

.hr-top {
  border: 2px solid #9abbaa;
  border-radius: 300px;
  width: 100%;
  margin-top: 10%; }

.hr-bottom {
  border: 2px solid #9abbaa;
  border-radius: 300px;
  width: 100%;
  margin-bottom: 15%; }

.pharagraph {
  margin-top: 15%; }

strong {
  color: #ee8281; }

.experience li {
  list-style: none; }

.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #eee;
  height: 35px;
  border-radius: 3px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color; }

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  background: #6adcfa;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 4px; }

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.skillbar-bar {
  height: 35px;
  width: 0px;
  background: #6adcfa;
  border-radius: 3px; }

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  color: #444;
  color: rgba(0, 0, 0, 0.4); }

@media (min-width: 768px) {
  .content {
    border-radius: 0;
    width: 100%; }

  .hr-top {
    width: 60%;
    margin-top: 4%; }

  .hr-bottom {
    width: 60%;
    margin-bottom: -7%; }

  .skills .hr-bottom {
    margin-bottom: 9%; }

  .projects .hr-bottom {
    margin-bottom: 13%; } }

/*# sourceMappingURL=index.css.map */